@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">    
    <h1>Hoşgeldiniz</h1>
    <p>Çalışan listesini ve Öğrenci listesini görüntülemek için linklere tıklayabilirsiniz</p>
    <a class="stretched-link btn btn-success text-decoration-none" asp-controller="Employee" asp-action="Index">Çalışan Listesi</a>
    <a class="stretched-link btn btn-success text-decoration-none" asp-controller="Student" asp-action="Index">Öğrenci Listesi</a>
</div>
